###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="pgsql://root:pass@host.docker.internal:20120/booking?charset=utf8"
###< doctrine/doctrine-bundle ###

###> knplabs/knp-gaufrette-bundle ###
AWS_ACCESS=
AWS_SECRET=
AWS_REGION=
AWS_BUCKET=
AWS_ENDPOINT=
###< knplabs/knp-gaufrette-bundle ###

# PHP_VERSION=8.3
