body {
    margin: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.form-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}
.form-item .photo-preview {
    max-width: 150px;
    margin: 10px 0;
}
.form-item .photo-preview img {
    max-width: 100%;
    height: auto;
}
.buttons-bar {
    margin-bottom: 20px;
}

.section {
    margin-top: .5rem;
}
